.DS_Store
node_modules/
*.vsix
*.log
__pycache__/
*.pyc
programmers-problem-helper
.vscode/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
.programmers-helper/
Programmers/
out/
dist/
